[submodule "build/pbc"]
	path = build/pbc
	url = https://github.com/veloting/pbc
	branch = proto_v3
[submodule "build/lua-protobuf"]
	path = build/lua-protobuf
	url = https://github.com/starwing/lua-protobuf
